.block {
  display: inline-block;
  margin: 10px;
}

.blocks {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 964px;
}
  

@media (max-width: 1000px) {
  .blocks {
    width: 100%;
  }
}
    

.blockImage {
  width: 287px;
  height: 287px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
  

.block__hidden {
  display: none;
}